//Colors
$pcolor: #7b7b7b;
$scolor:#363636;
$tsc: #f57440;
$tc: #ef1373;
$wc: #fff;
$imgbgc:#ddd;
$borderc:#e9e9e9;

$home2c1:#6c63ff;
$home2c2:#d74eff;

//Fonts
$worksans: 'Work Sans', sans-serif;
$barlow:'Barlow', sans-serif;

// Font Weight
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;